body{
    background-color: silver;
}

.container{
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px gray;
}

header{
    background-color: slategray;
    font-size: 300%;
    color: white;
    text-shadow: 0 0 2px black;
    text-align: center;
    line-height: 200%;

}

footer{
    background-color: black;
    color: white;
    letter-spacing: 3px;
    font-size: 80%;
    text-align: center;
    padding: 10px;
}

main{
    padding: 10px;
}
